* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4e123e;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #f1c40f;
}
