<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registration Form</h1>
    <hr>
    <!-- Display success or error message passed from Django view -->
    {{message}}

    <!-- 
    Registration Form:
    - Sends form data to the 'register' URL.
    - Uses POST method to securely send data.
    - Includes 'enctype="multipart/form-data"' to allow file uploads (currently required only if you're uploading files like images).
    -->
    <form action="{%url 'register'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
        <input type="hidden" value="{{student.id}}" name="id">
        <label for="uname">Username</label>
        <input type="text" name="uname" id="uname" value="{{student.username}}">
        <br><br>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{student.email}}">
        <br><br>
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone" value="{{student.phone}}">
        <br><br>
        <label for="age">Age</label>
        <input type="text" name="age" id="age" value="{{student.age}}">
        <br><br>
        <label for="img">Image</label>
        <input type="file" name="file">
        <br><br>
        <input type="submit">
        {% comment %} <!-- Display success or error message passed from Django view -->
        {{message}} {% endcomment %}
    </form>

    <br>
    <h1>Student Details</h1>
    <br>
        <table border="1" cellpadding="5">
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Age</td>
                <td>Image</td>
                <td colspan="2">Action</td>
            </tr>

            {%for student in students%}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.username}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.age}}</td>
                <td><img src="media/{{student.image}}" alt="{{student.image}}" width="100px" height="100px"></td>
                <td><a href="{%url 'update'%}?stid={{student.id}}">Update</a></td>
                <td><a href="{%url 'delete'%}?stid={{student.id}}">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
</body>
</html>